{% extends 'base.html.twig' %}

{% block main %}

<section id="content">

    <div class="alert-message">
    {% if error %}
        <p class="user-unknown">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}
    </div>

    <div class="alert-message">
    {% for message in app.flashes('success') %}
        <p class="alert-success" href="#">{{ message }}</p>
    {% endfor %}
    </div>

    <div class="grid">
        <form action="{{ path('login') }}" method="post" class="form login">
            <div class="login__header">
                <h3 class="login__title">Connexion</h3>
            </div>
            <div class="login__body">
                <div class="form__field">
                    <input type="pseudo" placeholder="Pseudo" required>
                </div>
                <div class="form__field">
                    <input type="email" id="username" name="_username" placeholder="Email" value="{{ last_username }}"/>
                </div>
                <div class="form__field">
                    <input type="password" id="password" name="_password" placeholder="Password"/>
                </div>
            </div>
            <div class="login__footer">
                <input type="submit" value="Login">
                <input id="logout-btn" type="submit" value="Logout">
            </div>
        </form>
    </div>
</section>

{% endblock main %}

