@font-face {
    font-family: "Poppins-Light", Verdana, Helvetica, sans-serif;
}
*,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    color: rgba(57, 60, 65, 1);
    background-color: rgba(225,219,202, 1);
    list-style: none;
    text-decoration: none;
}
/*HEADER*/
header {
    height: 10vh;
}
.main-navbar {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem 3rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.icon-logo {
    position: absolute;
    padding: 3rem 0 0 6rem;
    text-shadow: -0.35px -0.35px 0 transparent, 0.35px 0.35px transparent;
    z-index: 0;
}
.icon-logo:hover {
    text-shadow: -0.35px -0.35px 0 rgba(57, 60, 65, 1);
}
.main-navbar-content {
    position: relative;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.navbar-route {
    padding-right: 2rem;
    color: rgba(57, 60, 65, 1);
    text-shadow: -0.35px -0.35px 0 transparent, 0.35px 0.35px transparent;
}
.navbar-route:hover {
    text-shadow: -0.35px -0.35px 0 rgba(57, 60, 65, 1);
}
/*MAIN*/
#content {
    background-color: rgba(225,219,202, 1);
    height: 81vh;
}
@media screen and (max-width: 992px) {
    .icon-logo {
        max-width: 15%;
        height: auto;
    }
    .icon-wishlist {
        max-width: 10%;
        height: auto;
        padding-right: 5.5rem;
    }
    .icon-droid {
        max-width: 10%;
        height: auto;
        padding-right: 1.5rem;
    }
    .navbar-route {
        padding-right: 2rem;
    }
}
@media screen and (max-width: 576px) {
    *, body {
        font-size: 0.8rem;
    }
    .icon-logo {
        max-width: 25%;
        height: auto;
    }
    .icon-wishlist {
        display: none;
    }
    .icon-droid {
        display: none;
    }
    .navbar-route {
        display: none;
    }
}