h3 {
    text-align: center;
    height: 5vh;
}
input {
    width: 20rem;
}
button {
    background-color: rgba(76,175,79, 1);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    border-radius: 100px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(50, 121, 52);
}
#content {
    background-color: rgba(225,219,202, 1);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.window {
    padding-bottom: 5rem;
}
.form {
    padding: 1rem;
    background-color: rgba(237, 237, 237, 1);
    border-radius: 5px;
}
.widget {
    padding-bottom: 1rem;
}

