@font-face {
    font-family: "Poppins-Light", Verdana, Helvetica, sans-serif;
}
*,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    color: rgba(57, 60, 65, 1);
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
input {
    font: inherit;
    inline-size: 100%;
}
form {
    box-shadow: -6px 6px 10px rgba(57, 60, 65, 0.2) ;
}
/*HEADER*/
header {
    height: 10vh;
}
.main-navbar {
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.icon-logo {
    position: absolute;
    min-width: 9%;
    height: auto;
    padding: 1rem 2rem;
}
.icon-wishlist {
    padding-right: 6.3rem;
}
.icon-droid {
    padding-right: 5.2rem;
}
.main-navbar-content {
    display: flex;
    flex-direction: row;
}
.navbar-route {
    padding-right: 4rem;
    color: rgba(57, 60, 65, 1);
}
.navbar-route:hover, .footer-informations:hover {
    text-shadow: -0.35px -0.35px 0 rgba(57, 60, 65, 1);
}
/*MAIN*/
#content {
    height: 81vh;
    padding-top: 8rem;
}
.user-unknown{
    font-size: 1rem;
    font-weight: bolder;
    color: rgba(229, 26, 41, 0.8);
    padding-bottom: 2rem;
}
.alert-message {
    text-align: center;
}
.alert-success {
    font-weight: bolder;
    color: rgba(65,166,50,1);
    padding-bottom: 2rem;
}
:root {
    --gridMaxWidth: 25%;
    --loginHeaderBackgroundColor: rgba(4, 95, 159, 1);
}
.grid {
    inline-size: var(--gridWidth);
    margin-inline: auto;
    max-inline-size: var(--gridMaxWidth);
}
.login__header {
    background-color: rgba(4, 95, 159, 1);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}
.login__title, .login input[type='submit'] {
    color: rgba(250, 250, 250, 1);
}
.login__body {
    background-color: rgba(250, 250, 250, 1);
    padding: 1.5rem;
}
.login input {
    border: 0.1rem solid rgba(229, 229, 229, 1);
    padding: 1rem 1.25rem;
}
.login input[type='submit'] {
    background-color: rgba(4, 95, 159, 1);
    border-radius: 50px;
    padding: 0.75rem 1.25rem;
    transition: background-color 0.3s;
}
.login input[type='submit']:hover {
    background-color: rgba(229, 26, 41, 0.8);
}
.login__footer {
    padding: 0 1.5rem 1.5rem 1.5rem;
}
/*FOOTER*/
footer {
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
footer div {
    display: none;
}
.footer-legal-notices {
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
}
.logo-footer {
    width: 70%;
    height: auto;
}
.footer-informations {
    color: rgba(57, 60, 65, 1);
    font-size: 0.9rem;
    font-weight: bolder;
    padding: 1rem 1rem;
}
@media screen and (max-width: 576px) {
    .icon-wishlist, .icon-droid, .navbar-route {
        display: none;
    }
}