#product {
    background-color: rgba(225,219,202, 1);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#estimate {
    color: rgba(229,18,43, 1);
    padding-top: 2rem;
}
article {
    width: 17rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
}
