.title h1 {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    padding-bottom: 4rem;
}
#products-list {
    position: relative;
    padding-right: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#price {
    color: rgba(229,18,43, 1);
    padding-bottom: 5rem;
}
.card-figure {
    text-align: center;
    margin: auto;
    padding-top: 3rem;
}
.card-detail img {
    max-width: 90%;
}
.like img {
    max-width: 5%;
    cursor: pointer;
}
.like img:hover {
   opacity: 0.5;
}
