<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site</title>
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}" />
</head>
<body>

<header>
    <img class="icon-logo"src="../public/assets/img/logo.png" alt="">
    <div class="main-navbar">
        <div>
            <img class="icon-wishlist" src="../public/assets/img/symbol-sign-in.png" alt="icon of a medail">
            <img class="icon-droid" src="../public/assets/img/droid-connexion.png" alt="icon of a droid">
        </div>
        <nav>
            <ul class="main-navbar-content">
                <li><a class="navbar-route" href="#">Ma collection</a></li>
                <li><a class="navbar-route" href="#">Connexion</a></li>
            </ul>
        </nav>
    </div>
</header>

{% block main %}
{% endblock main %}

<footer>
    <nav>
        <ul class="footer-legal-notices">
            <img class="logo-footer" src="../public/assets/img/logo.png">
            <li><a class="footer-informations" href="#">Mentions légales</a></li>
            <li><a class="footer-informations" href="#">Contact</a></li>
            <li><a class="footer-informations" href="#">Aide</a></li>
        </ul>
    </nav>
    <div>
        <img onclick="topFunction()" id="btn-top" src="../public/assets/img/top.png" alt="top arrow">
    </div>
</footer>

<script src="../assets/index.js"></script>

</body>
</html>
