<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Site</title>
        <link rel="stylesheet" href="../public/assets/css/home.css" />
    </head>
<body>

<header>
    <img class="icon-logo"src="../public/assets/img/logo.png" alt="">
    <div class="main-navbar">
        <div>
            <img class="icon-wishlist" src="../public/assets/img/symbol-sign-in.png" alt="icon of a medail">
            <img class="icon-droid" src="../public/assets/img/droid-connexion.png" alt="icon of a droid">
        </div>
        <nav>
            <ul class="main-navbar-content">
                <li><a class="navbar-route" href="#">Ma collection</a></li>
                <li><a class="navbar-route" href="#">Connexion</a></li>
            </ul>
        </nav>
    </div>
    <section>
        <div class="search-bar">
            <input type="text"placeholder="Recherche par personnage, par fabricant, par catégorie"/>
            <div>
                <a class="btn btn-fonction">Rechercher</a>
            </div>
        </div>
        <div class="sub-menu">
            <nav>
                <ul class="sub-menu-list">
                    <li><a class="element-list" href="#">The Mandalorian</a></li>
                    <li><a class="element-list" href="#">Rogue One</a></li>
                    <li><a class="element-list" href="#">Episode I</a></li>
                    <li><a class="element-list" href="#">Episode III</a></li>
                    <li><a class="element-list" href="#">Episode V</a></li>
                </ul>
            </nav>
            <h1>Site de référencement de figurines sous licence Star Wars, pour les collectionneurs habités par la passion ... et  La Force.<br/>
                Les plus belles statuettes sur vos étagères et dans vos vitrines.</h1>
        </div>
    </section>
</header>

<main>
    <section>
        <div>
            <img class="grogu" src="../public/assets/img/bgd-image-grogu.png" alt="">
            <img class="figures" src="../public/assets/img/bgd-image-figures.jpeg" alt="">
        </div>
    </section>
    <section id="figures-group">
        <div class="element-figures">
            <p>LES FIGURINES DU MOMENT</p>
        </div>
        <section class="figures-cards">
            <div class="figure">
                <div class="card-container">
                    <article>
                        <div class="card">
                            <img src="../public/assets/img/Figurine-Hot-Toys-MMS524-Star-Wars-3-Revenge-Of-The-Sith-Commander-Cody.jpeg" alt="Star Wars figure"/>
                            <div class="card-content">
                                <h4>Figurine Commander Cody Hottoys</h4>
                                <h5>000€</h5>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="figure">
                <div class="card-container">
                    <article>
                        <div class="card">
                            <img src="../public/assets/img/Figurine-Hot-Toys-MMS524-Star-Wars-3-Revenge-Of-The-Sith-Commander-Cody.jpeg" alt="Star Wars figure"/>
                            <div class="card-content">
                                <h4>Figurine Commander Cody Hottoys<br/>000*</h4>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="figure">
                <div class="card-container">
                    <article>
                        <div class="card">
                            <img src="../public/assets/img/Figurine-Hot-Toys-MMS524-Star-Wars-3-Revenge-Of-The-Sith-Commander-Cody.jpeg" alt="Star Wars figure"/>
                            <div class="card-content">
                                <h4>Figurine Commander Cody Hottoys</h4>
                                <h5>000€</h5>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="figure">
                <div class="card-container">
                    <article>
                        <div class="card">
                            <img src="../public/assets/img/Figurine-Hot-Toys-MMS524-Star-Wars-3-Revenge-Of-The-Sith-Commander-Cody.jpeg" alt="Star Wars figure"/>
                            <div class="card-content">
                                <h4>Figurine Commander Cody Hottoys</h4>
                                <h5>000€</h5>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <div>
            <a class="btn btn-fonction" href="#">voir plus</a>
        </div>
    </section>
    <section id="newsletter-part">
        <img class="newsletter-bgd"src="../public/assets/img/newslletter-bg.jpg" alt="picture with some Star Wars figures">
        <div class="newsletter-form">
            <div class="element-newsletter">
                <h3>Vous souhaitez être informé</br> des dernières nouveautés ?</h3>
                <p>N'hésitez pas à vous inscrire</p>
            </div>
            <div class="newsletter-bar">
                <input type="email"/>
                <div>
                    <a class="btn btn-fonction" href="#">S'inscrire</a>
                </div>
            </div>
        </div>
    </section>
    </section>
</main>

<footer>
    <nav>
        <ul class="footer-legal-notices">
            <img class="logo-footer" src="../public/assets/img/logo.png">
            <li><a class="footer-informations" href="#">Mentions légales</a></li>
            <li><a class="footer-informations" href="#">Contact</a></li>
            <li><a class="footer-informations" href="#">Aide</a></li>
        </ul>
    </nav>
    <div>
        <img onclick="topFunction()" id="btn-top" src="../public/assets/img/top.png" alt="top arrow">
    </div>
</footer>

<script src="../assets/index.js"></script>

</body>
</html>
