{% extends "public/base.html.twig" %}

{% block main %}


    <section id="products-list">

        <h3 >Vos résulats de recherche :</h3>
        {% for product in products %}
            <div class="card-figure">
                <div class="card-container">
                    <article>
                        <div class="card-detail">
                            <img src="../public/assets/img/Figurine-Hot-Toys-MMS524-Star-Wars-3-Revenge-Of-The-Sith-Commander-Cody.jpeg" alt="Star Wars figure"/>
                            <div class="card-content">
                                <h4>{{ product.name }} {{ product.manufacturer }}</h4>
                                <h4>Cote: {{ product.price }}€</h4>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        {% endfor %}

    </section>



{% endblock main %}
