{% extends "public/base.html.twig" %}

{% block main %}


    <section id="products-list">

        <h3 >Vos résulats de recherche :</h3>
        {% for product in products %}
        <div>
            <h2>{{ product.name }}</h2>
        </div>
        {% endfor %}

    </section>



{% endblock main %}
