{% extends "public/base.html.twig" %}

{% block main %}

<div class="title">
  <h1>Ma wishlist</h1>
</div>

  <section id="products-list">

    <div class="card-figure">
      <div class="card-container">
        <article>
          <div class="card-detail">
            <img src="../public/assets/img/Figurine-Hot-Toys-MMS524-Star-Wars-3-Revenge-Of-The-Sith-Commander-Cody.jpeg" alt="Star Wars figure"/>



            <div class="card-content">


            </div>
          </div>
        </article>
      </div>
    </div>
  </section>




{% endblock main %}

